{% load static %}
<!DOCTYPE html>
    <html lang="en">
    {% include 'base.html' %}
  <body class="bg-gray-100 flex flex-col min-h-screen ">
      <header>
        {% include 'menu_components/home_navigation.html' %}
      </header>
        <main class="flex-grow">
            <div class="flex justify-center my-6">
                <div class="flex flex-col w-full p-8 text-gray-800 bg-white shadow-lg pin-r pin-y md:w-4/5 lg:w-4/5">

                <div class="flex-1">
                    <table class="w-full text-sm lg:text-base" cellspacing="0">
                        <thead>
                            <tr class="h-12 uppercase">
                            <th class="hidden md:table-cell"></th>
                            <th class="text-left">Product</th>
                            <th class="lg:text-right text-left pl-5 lg:pl-0">
                                <span class="lg:hidden" title="Quantity">Qtd</span>
                                <span class="hidden lg:inline">Quantity</span>
                            </th>
                            <th class="hidden text-right md:table-cell">Unit price</th>
                            <th class="text-right">Total price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td class="hidden pb-4 md:table-cell">
                                    <img src="{{item.product_media.url}}" class="w-20 rounded" alt="Thumbnail">
                                </td>
                                <td>
                                    <p class="mb-2 md:ml-4">{{item.product_title}}</p>
                                    <form action="" method="POST">
                                        <button type="submit" class="text-gray-700 md:ml-4">
                                        <small>(Remove item)</small>
                                        </button>
                                    </form>
                                </td>
                                <td class="justify-center md:justify-end md:flex mt-6">
                                    <div class=" h-10 w-32">
                                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                                          <button data-product={{item.id}} data-action="remove" class="update-cart bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                            <span class="m-auto text-2xl font-thin">-</span>
                                          </button>
                                          <input class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"  value="{{item.product_qty}}"></input>
                                        <button data-product={{item.id}} data-action="add" class="update-cart bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer outline-none">
                                          <span class="m-auto text-2xl font-thin">+</span>
                                        </button>
                                      </div>
                                </td>
                                <td class="hidden text-right md:table-cell">
                                    <span class="text-sm lg:text-base font-medium">
                                        {{item.product_price}}
                                    </span>
                                </td>
                                <td class="text-right">
                                    <span class="text-sm lg:text-base font-medium">
                                        {{item.get_total}}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr class="pb-6 mt-6">
                    <div class="my-4 mt-6 -mx-2 lg:flex">
                    <div class="lg:px-2 lg:w-1/2">
                        <div class="p-4 bg-gray-100 rounded-full">
                            <h1 class="ml-2 font-bold uppercase">Instruction for seller</h1>
                        </div>
                        <div class="p-4">
                            <p class="mb-4 italic">If you have some information for the seller you can leave them in the box below</p>
                            <textarea class="w-full h-24 p-2 bg-gray-100 rounded resize-none"></textarea>
                        </div>
                    </div>
                    <div class="lg:px-2 lg:w-1/2">
                        <div class="p-4 bg-gray-100 rounded-full">
                        <h1 class="ml-2 font-bold uppercase">Order Details</h1>
                        </div>
                        <div class="p-4">
                        <p class="mb-6 italic">Shipping and additionnal costs are calculated based on values you have entered</p>
                            <div class="flex justify-between pt-4 border-b">
                                <div class="lg:px-4 lg:py-2 m-2 text-lg lg:text-xl font-bold text-center text-gray-800">
                                Total
                                </div>
                                <div class="lg:px-4 lg:py-2 m-2 lg:text-lg font-bold text-center text-gray-900">
                                {{order.get_cart_total}}
                                </div>
                            </div>
                            <a href="{% url 'checkout-view' %}">
                            <button class="flex justify-center w-full px-10 py-3 mt-6 font-medium text-white uppercase bg-gray-800 rounded-full shadow item-center hover:bg-gray-700 focus:shadow-outline focus:outline-none">
                                <span class="ml-2 mt-5px">Procceed to checkout</span>
                            </button>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </main>
        <footer class="w-full">
            <script>
                var user = '{{request.user}}'
                function getToken(name) {
                  let cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      const cookies = document.cookie.split(';');
                      for (let i = 0; i < cookies.length; i++) {
                          const cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
                }
                const csrftoken = getToken('csrftoken');
            </script>
            {% include 'menu_components/page_footer.html' %}
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        </footer>
    </body>
</html>

