{% load static %}
<!DOCTYPE html>
    <html lang="en">
    {% include 'base.html' %}
    <body class="bg-gray-100 flex flex-col min-h-screen ">
      <header>
      </header>
        <main class="flex-grow">
          <div class="flex min-h-screen bg-white">
            <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
                <div class="text-left p-0 font-sans">
                    <h1 class=" text-gray-800 text-3xl font-medium">Change Password</h1>
                </div>
                <form id="id_password_change_form" method="POST"  class="p-0 form-login" >
                    {% csrf_token %}
                    <div class="mt-5">
                        <input id="id_old_password" type="password" name="old_password" 
                        class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent " placeholder="Old Password" required="true">
                    </div>
                    <div class="mt-5">
                        <input id="id_new_password1" type="password" name="new_password1" 
                        class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent  " placeholder="New Password" required="true">
                    </div>
                    <div class="mt-5">
                        <input id="id_new_password2"type="password" name="new_password2" 
                        class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent  " placeholder="Confirm Password" required="true">
                    </div>
                    {% for field in form %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    <div class="mt-10">
                        <input  id="id_submit_btn" type="submit" value="Update" class="py-3 bg-green-500 text-white w-full rounded hover:bg-green-600">
                    </div>
                </form>
            </div>
        </div>
        </main>
        <footer class=" w-full">
            {% include 'menu_components/page_footer.html' %}
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        </footer>
    </body>
</html>












