{% load static %}
<!DOCTYPE html>
    <html lang="en">
    {% include 'base.html' %}
    <body class="bg-gray-100 flex flex-col min-h-screen ">
      <header>
      </header>
        <main class="flex-grow">
            <div class="container">
                <div class="d-flex flex-column">
                    <p class="m-auto">Your password has been reset. You may go ahead and <a class="underline" href="{% url 'login' %}">sign in</a> now.</p>
                </div>
            </div>
        </main>
        <footer class=" w-full">
            {% include 'menu_components/page_footer.html' %}
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        </footer>
    </body>
</html>












