{% load static %}
<!DOCTYPE html>
    <html lang="en">
    {% include 'base.html' %}
    <body class="bg-gray-100 flex flex-col min-h-screen ">
      <header>
      </header>
        <main class="flex-grow">
          <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
            <div class="text-left p-0 font-sans">
                <h1 class=" text-gray-800 text-3xl font-medium">Password Reset</h1>
            </div>
            <form id="id_password_reset_form" method="POST" class="p-0 form-signin" >
                {% csrf_token %}
                <div class="mt-5">
                    <input type="email" name="email" class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent " placeholder="Enter Email" required="true">
                </div>
                <div class="mt-10">
                    <input id="id_submit_btn" type="submit" value="Send" class="py-3 bg-green-500 text-white w-full rounded hover:bg-green-600">
                </div>
                <a class="" href="{% url 'home' %}" data-test="Link"><span class="block  p-5 text-center text-gray-800  text-sm ">Visit Site</span></a>
            </form>
        </div>
        </main>
        <footer class="w-full">
            {% include 'menu_components/page_footer.html' %}
            <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        </footer>
    </body>
</html>












